@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  background-color: #F2F2F2;
  color: #000000;
}

.header, .footer {
  background-color: #FFFFFF;
}

.navigation-link, .navigation-user-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
}

.intro {
  background-color: #000000;
  color: #FFFFFF;
  background-image: url(../images/white-vector-divider.svg), url(../images/index-background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom -10px, left top;
}

.section {
  background-color: #FFFFFF;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
}

.list-item, .social-list, .navigation-list, .navigation-user-list{
  list-style: none;
}

.list-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.list-description {
  text-align: center;
  color: #333333;
}

.light-title, .light-description {
  color: #FFFFFF
}

.list-cause .list-item:nth-child(1),
.list-cause .list-item:nth-child(5) {
  background-color: #82B3D3;
}

.list-cause .list-item:nth-child(2),
.list-cause .list-item:nth-child(4) {
  background-color: #83B3D31F;
}

.list-cause .list-item:nth-child(3) {
  background-color: #83B3D333;
}

.list-advantages .list-item:nth-child(1),
.list-advantages .list-item:nth-child(3) {
  background-color: #83B3D31F;
}

.form-field {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
}

.button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.button-apply {
  background-color: #82B3D3;
}

.button-reset {
  background: none;
  border: none;
}

.form-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.subscribe {
  background-color: #000000;
  background-image: url(../images/subscribe-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.contacts-phone {
  font-family: inherit;
  font-style: normal;
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button-search-form {
  font-size: 20px;
  line-height: 24px;
  background-color: #83B3D3;
}

.background-inner-header {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url(../images/catalog-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item, .hotels-filter-list, .display-type-list, .pagination {
  list-style: none;
}

.breadcrumbs-link {
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}

.general-content {
  background-color: #FFFFFF;
}

.hotels-found-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control-sort {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: none;
}

.hotel-card-link-title {
  text-decoration: none;
  color: #000000;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.button-add-favorites {
  background-color: #82B3D3;
}

.button-added-favorites {
  background-color: #7DB54F;
}

.hotels-rating {
  background-color: #F2F2F2;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.hotels-rating, .hotel-card-text {
  color: #333333;
}

.pagination-link {
  background-color: #82B3D3;
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-dots {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
