@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  color: #333333;
}

.footer {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
}

.navigation-link, .navigation-user-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.intro {
  background-color: #6cacd7;
  color: #ffffff;
  background-image: url("../images/white-vector-divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center top;
}

.main {
  background-color: #ffffff;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.list-item {
  list-style: none;
}

.social-list {
  list-style: none;
}

.navigation-list {
  list-style: none;
}

.navigation-user-list {
  list-style: none;
}

.list-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.list-description {
  text-align: center;
}

.list-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.list-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.list-item.dark-item {
  color: #ffffff;
  background-color: #82b3d3;
}

.list-advantages .list-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.list-advantages .list-item:nth-child(even) {
  background: none;
}

.form-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

.button-apply {
  background-color: #82b3d3;
}

.button-reset {
  background: none;
  border: none;
}

.form-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}

.light-color {
  color: #ffffff;
  background-color: #6cacd7;
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.light-color .section-title {
  color: #ffffff;
}

.contacts-phone {
  font-family: inherit;
  font-style: normal;
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button-search-form {
  font-size: 20px;
  line-height: 24px;
  background-color: #83b3d3;
}

.background-inner-header {
  color: #ffffff;
  background-color: #6cacd7;
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-item {
  list-style: none;
}

.hotels-filter-list {
  list-style: none;
}

.display-type-list {
  list-style: none;
}

.pagination {
  list-style: none;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}

.general-content {
  background-color: #ffffff;
}

.hotels-found-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control-sort {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background: none;
}

.hotel-card-link-title {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.button-add-favorites {
  background-color: #82b3d3;
}

.button-added-favorites {
  background-color: #7db54f;
}

.hotels-rating {
  background-color: #f2f2f2;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.pagination-link {
  background-color: #82b3d3;
  display: inline-block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-dots {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
}
